In [38]:
from path import Path
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [39]:
csv_path = Path('mlb_odds_2019.csv')
df= pd.read_csv(csv_path)
df.head(10)

,Date,Rot,VH,Team,Pitcher,1st,2nd,3rd,4th,5th,...,9th,Final,Open,Close,Run Line,Unnamed: 18,Open OU,Unnamed: 20,Close OU,Unnamed: 22
0,320,901,N,SEA,MGONZALES-L,0,0,5,1,3,...,0,9,107,120,1.5,-160,8.5,-110,8.5,-120
1,320,902,N,OAK,MFIERS-R,1,1,2,0,0,...,0,7,-127,-130,-1.5,140,8.5,-110,8.5,100
2,321,903,N,SEA,YKIKUCHI-L,0,2,1,0,0,...,0,5,109,-125,1.5,-262,9.0,-110,9.0,-130
3,321,904,N,OAK,MESTRADA-R,0,0,0,0,2,...,0,4,-129,115,-1.5,216,9.0,-110,9.0,110
4,328,905,V,NYM,JDEGROM-R,1,0,0,0,0,...,0,2,110,115,1.5,-215,6.5,-110,6.5,-105
5,328,906,H,WAS,MSCHERZER-R,0,0,0,0,0,...,0,0,-121,-125,-1.5,180,6.5,-110,6.5,-115
6,328,907,V,STL,MMIKOLAS-R,0,3,0,0,0,...,0,4,104,104,1.5,-205,8.5,-110,8.5,-120
7,328,908,H,MIL,JCHACIN-R,0,1,3,0,1,...,x,5,-114,-114,-1.5,172,8.5,-110,8.5,100
8,328,909,V,ATL,JTEHERAN-R,0,1,0,0,0,...,0,4,170,170,1.5,-130,7.5,-110,8.0,-105
9,328,910,H,PHI,ANOLA-R,1,0,0,2,0,...,x,10,-190,-185,-1.5,110,7.5,-110,8.0,-115

In [40]:
df= df[["Date", "VH", "Team", "Pitcher","Open", "Close"]]

In [42]:
df["Date"]= df["Date"].astype(str).apply(lambda x: x[:-2] + "-" + x[-2:] + "-2019")

In [43]:
df["Date"]= pd.to_datetime(df["Date"])

In [44]:
df.head()

        Date VH Team      Pitcher  Open  Close
0 2019-03-20  N  SEA  MGONZALES-L   107    120
1 2019-03-20  N  OAK     MFIERS-R  -127   -130
2 2019-03-21  N  SEA   YKIKUCHI-L   109   -125
3 2019-03-21  N  OAK   MESTRADA-R  -129    115
4 2019-03-28  V  NYM    JDEGROM-R   110    115

In [45]:
df["Pitcher"]= df["Pitcher"].apply(lambda x: x[:-2])

In [46]:
df.head()

        Date VH Team    Pitcher  Open  Close
0 2019-03-20  N  SEA  MGONZALES   107    120
1 2019-03-20  N  OAK     MFIERS  -127   -130
2 2019-03-21  N  SEA   YKIKUCHI   109   -125
3 2019-03-21  N  OAK   MESTRADA  -129    115
4 2019-03-28  V  NYM    JDEGROM   110    115

In [49]:
df.to_csv("./Betting_Odds/mlb_odds_2019.csv")